## Importar libreria

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import ssl
import urllib.request

# Desactivar verificación de certificados SSL

ssl._create_default_https_context = ssl._create_unverified_context

## Importar base de datos

In [2]:
df = sns.load_dataset('penguins')

In [3]:
p_df = (
    df
    .dropna()
    .copy()
)

In [4]:
# Le damos explicimente el tipo de dato
(
    p_df
    .astype(
        {
            'species':'category',
            'island':'category',
            'sex':'category'
        }
    )
    .describe(include='category')
)

       species  island   sex
count      333     333   333
unique       3       3     2
top     Adelie  Biscoe  Male
freq       146     163   168

## Media ó promedio

In [5]:
p_df.bill_depth_mm.mean()

np.float64(17.164864864864864)

In [6]:
np.mean(p_df.bill_depth_mm)

np.float64(17.164864864864864)

In [9]:
p_df.select_dtypes(include=np.number).mean()

bill_length_mm         43.992793
bill_depth_mm          17.164865
flipper_length_mm     200.966967
body_mass_g          4207.057057
dtype: float64

## Mediana

In [10]:
p_df.select_dtypes(include=np.number).median()

bill_length_mm         44.5
bill_depth_mm          17.3
flipper_length_mm     197.0
body_mass_g          4050.0
dtype: float64

## Moda

In [13]:
p_df.mode()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Biscoe,41.1,17.0,190.0,3800.0,Male