In [1]:
import numpy as np
import pandas as pd

datos = np.random.randint(20,500,1000)
datos = pd.DataFrame(datos, columns=['data'])
datos.head(10)

   data
0   447
1   118
2    40
3   235
4    20
5   360
6   204
7    65
8   355
9    44

# Ecalamiento lineal

- Tambíen llamado normalización.
- Es necesario para pasar nuestros datos por estos procesos antes de usarlos para modelos.
- Los modelos son optimos en la medida en que las variables tienen las mismas dimensiones [-1,1]
- Se usa cuando tenemos datos uniformemente distribuidos ó son simetricos.

## Tipos

Existen varios metodos para normalizar los datos

- max-min
- clipping
- z-score
- winsorzing

# Metodos de escalamiento lineal

## Min Max

Consiste en transformar cada dato en uno normalizado $x \rightarrow x^T$

$$x^T = \frac{2x - min - max}{max-min}$$

In [2]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
datos_escalados = scaler.fit_transform(datos[['data']])

## Z-score

$$Z = \frac{x - \mu}{\sigma}$$

In [3]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
datos_escalados = scaler.fit_transform(datos[['data']])

## MaxAbs Scaling

$$x_{scaled} = \frac{x}{|x_{max}|}$$

In [4]:
from sklearn.preprocessing import MaxAbsScaler
scaler = MaxAbsScaler()
datos_escalados = scaler.fit_transform(datos[['data']])