In [1]:
import pandas as pd
df = pd.read_csv('./usuarios.csv')
df2 =  pd.read_csv('./usuarios.csv')
df

   id          nombre                       email fecha_registro
0   1      Juan Perez      juan.perez@example.com     2023-01-15
1   2     Maria Gomez     maria.gomez@example.com     2023-02-20
2   3  Carlos Sanchez  carlos.sanchez@example.com     2023-03-30

# Pivot table

Transforma los valores de determinadas columnas o filas en los índices de un nuevo DataFrame, y la intersección de estos es el valor resultante.

In [3]:
df.pivot_table(index='nombre',columns='fecha_registro',values='id', aggfunc='count')

fecha_registro  2023-01-15  2023-02-20  2023-03-30
nombre
Carlos Sanchez         NaN         NaN         1.0
Juan Perez             1.0         NaN         NaN
Maria Gomez            NaN         1.0         NaN

# Melt

convierte columnas en filas, lo que es útil para reformatear datos para análisis o visualización.

In [6]:
df.melt(id_vars=['nombre'], value_vars=['email','fecha_registro'], value_name='valor_resumen')

           nombre        variable               valor_resumen
0      Juan Perez           email      juan.perez@example.com
1     Maria Gomez           email     maria.gomez@example.com
2  Carlos Sanchez           email  carlos.sanchez@example.com
3      Juan Perez  fecha_registro                  2023-01-15
4     Maria Gomez  fecha_registro                  2023-02-20
5  Carlos Sanchez  fecha_registro                  2023-03-30