In [1]:
import pandas as pd

# Crear Series

In [2]:
pd.Series(['a0','b0', 'co'], index=[1,2,3])
serie = pd.Series({'1':'a0','2':'b0', '3':'co'})

## Acceder a un elemento

In [9]:
# acceder mediante el indice definido
serie.loc['1']

# acceder mediante el indice
serie.iloc[0]

'a0'

# Crear un DataFrame

In [13]:
dict = {'Jugador':['Navas', 'Mbappe', 'Neymar', 'Messi'],
'Altura': [183.0,170.0,170.0, 165.01],
'Goles' : [2,200,200,2001]}

df = pd.DataFrame(dict)
df

  Jugador  Altura  Goles
0   Navas  183.00      2
1  Mbappe  170.00    200
2  Neymar  170.00    200
3   Messi  165.01   2001