In [2]:
import pandas as pd
df = pd.read_csv('./usuarios.csv')

# Slicear filas

In [4]:
# Traer las primeras dos filas
df[0:2]

   id       nombre                    email fecha_registro
0   1   Juan Perez   juan.perez@example.com     2023-01-15
1   2  Maria Gomez  maria.gomez@example.com     2023-02-20

# Slicear columnas

In [5]:
df[['email','fecha_registro']]

                        email fecha_registro
0      juan.perez@example.com     2023-01-15
1     maria.gomez@example.com     2023-02-20
2  carlos.sanchez@example.com     2023-03-30

# Slicear con el nombre de los indices

In [8]:
# De la fila cero a la fila 2 y de la columna email a a columna registro
df.loc[0:2,'email':'fecha_registro']

                        email fecha_registro
0      juan.perez@example.com     2023-01-15
1     maria.gomez@example.com     2023-02-20
2  carlos.sanchez@example.com     2023-03-30

In [12]:
# Filtrar por el valor de una fila
df.loc[0:2,'email'] == 'juan.perez@example.com'

0     True
1    False
2    False
Name: email, dtype: bool

## Filtrar por el valor de los indices

In [16]:
# De la fila cero a la fila 2 y de la columna email a a columna registro
df.iloc[0:2,2:4]

                     email fecha_registro
0   juan.perez@example.com     2023-01-15
1  maria.gomez@example.com     2023-02-20