In [1]:
import pandas as pd
import numpy as np

In [3]:
data = {
    'col1':[1,2,3,4,np.nan],
    'col2':[1,2,3,np.nan,5],
    'col2':[1,2,np.nan,4,5],
}

df = pd.DataFrame(data)
df

   col1  col2
0   1.0   1.0
1   2.0   2.0
2   3.0   NaN
3   4.0   4.0
4   NaN   5.0

# Identificar si los datos son nulos

In [4]:
df.isnull()

    col1   col2
0  False  False
1  False  False
2  False   True
3  False  False
4   True  False

# Llenar los valores nulos

In [6]:
df.fillna('missing')

      col1     col2
0      1.0      1.0
1      2.0      2.0
2      3.0  missing
3      4.0      4.0
4  missing      5.0

# Llenar con una serie

Rellena la columna del data frame con patrones que el identifica

In [7]:
df.interpolate()

   col1  col2
0   1.0   1.0
1   2.0   2.0
2   3.0   3.0
3   4.0   4.0
4   4.0   5.0

# Eliminar los valores nulos

Eliniar todas las columnas que contengan un valor nulo

In [8]:
df.dropna()

   col1  col2
0   1.0   1.0
1   2.0   2.0
3   4.0   4.0